NODE_ENV=development
PORT=3000
SAXO_CLIENT_ID=replace_with_app_key
SAXO_CLIENT_SECRET=replace_with_app_secret
SAXO_REDIRECT_URI=https://saxodemo.dotpro.ch/oauth/callback
SAXO_ADMIN_USER=demo-owner
SAXO_ADMIN_PASSWORD=replace_with_a_long_random_password
